
body {
    font-family: "Lato", sans-serif;
}

/* Style pf general sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

/* Style of sidebar a */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Style of sidebar buttons when hovered over */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Style of sidebar when closed */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style of Menu Button */
.openbtn {
    font-size: 15px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 10px;
    border: none;
}

/* Change background color of Menu Button when hovered */
.openbtn:hover {
    background-color: #444;
}
/* Style of Update Button mimcs colors of Toolbar buttons (btnGroupH)*/
.updatebtn {
    font-size: 20px;
    cursor: pointer;
    background-color: lightblue;
    color: black;
    padding: 10px 15px;
    border: none;
}

/* Change background color of Update Button when hovered */
.updatebtn:hover {
/*     background-color: lightcyan; */
    background-color: #3e8e41;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.3%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

.canvas {
  width: 640px;
  height: 480px;
  margin-top : 20px;
}

/* btnGroupH Style */
.btnGroupH button {
    background-color: lightblue; /* Green background */
    border: 2px solid teal; /* Green border */
    color: black; /* Black text */
    font-size: 15px;
    padding: 10px 20px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    min-height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* btnGroupH Style when not last in group */
.btnGroupH button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* btnGroupH Style when last in group */
/* Clear floats (clearfix hack) */
.btnGroupH:after {
    content: "";
    clear: both;
    display: table;
}

/* btnGroupH Style when hovered over */
.btnGroupH button:hover {
    background-color: teal;
}

/* buttonGroupV Style */
.btnGroupV button {
    background-color: lightblue; /* Green background */
    border: 1px solid teal; /* Green border */
    color: black; /* Black text */
    font-size: 17px;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 20%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

/* btnGroupV Style when not last child */
.btnGroupV button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 70px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  color: black;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* The table in the sidebar tab Object Info */
.leftCol {
    text-align: right;
}
.rightCol {
    text-align: left;
/*     text-style: bold; */
/*     border: 3px solid green; */
}
.objInfoTable {
    margin: auto;
/*     border: 3px solid red; */
/*     padding: 10px; */
}
/* .objInfoTable tr:nth-child(even){background-color: #f2f2f2;} */


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* 
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
 */

/* 
Styles for a modal pop-up for error messages
From https://www.w3schools.com/howto/howto_css_modals.asp
 */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}