
body {
    font-family: "Lato", sans-serif;
}

/* general sideToolBar styling */
.sideToolBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

/* sideToolBar anchor styling */
.sideToolBar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* sideToolBar buttons styling for hover action */
.sideToolBar a:hover {
    color: #f1f1f1;
}

/* sideToolBar styling on close */
.sideToolBar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Menu Button styling */
.openbtn {
    font-size: 15px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 10px;
    border: none;
}

/*  Styling of Change in Menu Button background color on hover */
.openbtn:hover {
    background-color: #444;
}
/* Update Button styling*/
.updatebtn {
    font-size: 20px;
    cursor: pointer;
    background-color: lightblue;
    color: black;
    padding: 10px 15px;
    border: none;
}

/* styling of Change in Update Button background color when hovered */
.updatebtn:hover {
    background-color: #3e8e41;
}

#mainPage {
    transition: margin-left .5s;
    padding: 16px;
}

/* Tab buttons styling */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.3%;
}

/* Styling of buttons to Change background color on hover */
.tablink:hover {
    background-color: #777;
}

/* Tab content default styling */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

.canvas {
  width: 640px;
  height: 480px;
  margin-top : 20px;
}

/* Styling of btnGroupH */
.btnGroupH button {
    background-color: lightblue;
    border: 2px solid teal;
    color: black;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    float: left;
    min-height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Styling of btnGroupH for not last in group */
.btnGroupH button:not(:last-child) {
    border-right: none;
}

/* Styling of btnGroupH when last in group */
.btnGroupH:after {
    content: "";
    clear: both;
    display: table;
}

/* Styling of btnGroupH when hovered */
.btnGroupH button:hover {
    background-color: teal;
}

/* Styling of buttonGroupV */
.btnGroupV button {
    background-color: lightblue;
    border: 1px solid teal;
    color: black;
    font-size: 17px;
    padding: 10px 24px;
    cursor: pointer;
    width: 20%;
    display: block;
}

/* Styling of btnGroupV when not last child */
.btnGroupV button:not(:last-child) {
    border-bottom: none;
}

/* Adding the below attribute for a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Default hide tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* tooltip positioning */
[data-tooltip]:before {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 70px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  color: black;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* tooltip styling */
[data-tooltip]:after {
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Styling of tooltip on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Shape Info table */
.leftCol {
    text-align: right;
}
.rightCol {
    text-align: left;
}
.shapeInfoTable {
    margin: auto;
}

/* background for Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Content for Modal */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Adding animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-title {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}